@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
*{
  margin:0px;
  padding:0px;
  border:0px;
}
html,body{
  height: 100%;
  overflow : hidden;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

.submit-button
{
color: #fff !important;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    float : right !important;
}


.imp{
  color:red;
}
.scroll{
  overflow-y: auto;
}
.right-block{
  height: 400px;
}
.cardHeading{
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}
.right-data{
  height:calc(100% - 240px);
  float: left;
}


/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc; 
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cccccc; 
}
.help-block{
	color:#dc3545;
	/* float: left; */
    width: 100%;
}

option:first-child
{
    color: red;
}



 /* login page start  */
.login{
  background-image: url('../images/WATER-HMWSSB.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  
  }
  .login_bg{
    background-color: rgba(2, 8, 14, 0.5) !important;
    border-radius: .25rem;
    height: auto !important;
           
  }
  .field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    color: #fff;
  }
  
  .container{
  height: 100%;
  align-content: center;
  }
  .icon_colors{
    color: #F8821E !important;
  }
  .login-card{
    height: 443.875px !important;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: transparent;
  }
  
  .social_icon span{
  font-size: 60px;
  margin-left: 10px;
  color: #F8821E;
  }
  
  .social_icon span:hover{
  color: white;
  cursor: pointer;
  }
  
  .card-header h3{
  color: white;
  }
  
  .social_icon{
  position: absolute;
  right: 20px;
  top: -45px;
  }
  
  .input-group-prepend span{
  width: 50px;
  background-color: #F8821E;
  color: #ffffff;
  border:0 !important;
  }
  
  input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
  
  }
  
  .remember{
  color: white;
  }
  
  .remember input
  {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
  }
  .forgot{
    display:block;
  }
  .newpwd{
    display: none;
  }
  .login_btn{
  color: #ffffff;
  background-color: #F8821E;
  }
  
  .login_btn:hover{
  color: black;
  background-color: white;
  }
  
  .links{
  color: white;
  }
  .left {
    width:220px;
    float:left;
  }
  .right{
    float:left;
  }
  
  .links a{
  margin-left: 4px;
  }
   /* login page end  */
  /* header page start  */

    .topspacing{
      margin-top: 62px;
    }
    .bottomspacing{
      margin-bottom: 50px;
    }

  /*sidenav start */
.sidebar{ width:220px;  background-color:#000;transition: all 0.5s  ease-in-out; position: fixed;height: 83vh;}
.sidebar:hover{overflow-y:auto}
.bg-defoult{background-color:#222;}
.sidebar ul{ list-style:none; margin:0px; padding:0px; }
.sidebar li a,.sidebar li a.collapsed.active{ display:block; padding:8px 12px; color:#fff;border-left:0px solid #dedede;  text-decoration:none}
.sidebar li a.active{background-color:#000;border-left:5px solid #dedede; transition: all 0.5s  ease-in-out}
.sidebar li a:hover{background-color:#000 !important;}
.sidebar li a i{ padding-right:5px;}
.sidebar ul li .sub-menu li a{ position:relative}
.sidebar ul li .sub-menu li a:before{
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 0px;
    padding-right: 10px;
    vertical-align: middle;
}

.sidebar ul li span{
	margin-left:10px;
}

.sidebar ul li .sub-menu li a:hover:after {
    content: "";
    position: absolute;
    left: -5px;
    top: 0;
    width: 5px;
    background-color: #111;
    height: 100%;
}
.sidebar ul li .sub-menu li a:hover{ background-color:#222; padding-left:20px; transition: all 0.5s  ease-in-out}
.sub-menu{ border-left:5px solid #dedede;}
	.sidebar li a .nav-label,.sidebar li a .nav-label+span{ transition: all 0.5s  ease-in-out}
	

	.sidebar.fliph li a .nav-label,.sidebar.fliph li a .nav-label+span{ display:none;transition: all 0.5s  ease-in-out}
	.sidebar.fliph {
    width: 60px;transition: all 0.5s  ease-in-out;
   
}
	
.sidebar.fliph li{ position:relative}
.sidebar.fliph .sub-menu {
    position: absolute;
    left: 39px;
    top: 0;
    background-color: #222;
    width: 150px;
    z-index: 100;
}
	

	.user-panel {
    clear: left;
    display: block;
    float: left;
}
.user-panel>.image>img {
    width: 100%;
    max-width: 45px;
    height: auto;
}
.user-panel>.info,  .user-panel>.info>a {
    color: #fff;
}
.user-panel>.info>p {
    font-weight: 600;
    margin-bottom: 9px;
}
.user-panel {
    clear: left;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding: 25px 15px;
    border-bottom: 1px solid;
}
.user-panel>.info {
    padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
    left: 55px;
}

.fliph .user-panel{ display: none; }
  /*sidenav end*/
/*footer start*/
.footer a{
  font-size: 14px;
}
/*footer end*/